@{
    ViewData["Title"] = "Page 3";
}

<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" type="text/css" href="~/Comparegraph.css">-->
    
</head>


<body>

    <header>

        
        <nav class="navbar">
            <ul>
                <li> <h1 class="nomdusite"><strong>RFID WEBSITE </strong></h1> </li>

            </ul>
        </nav>

    </header>
    <p> <br><br><br></p>

    <div class="text-center">
        <span class="animation-text"> <h1 class="display-4"><strong><u>Voici les graphiques obtenus</u></strong></h1></span>
        <p> <br><br></p>

        <p> <br><br><br></p>

        <p> <br><br><br></p>

        <p> <br><br><br></p>
         

          <h1>Graphe</h1>
          <img src="{{ url_for('static', filename='Images/Graph.png') }}" alt="Graphe">




        <p>  <br><br><br> </p>


        

        
    </div>
       
        
</body>
